<template>
  <div>
    <div class="calculator">
    <h2>Calculator Test</h2>
      <form action="">
        <div
          class="form-field"
          v-for="(input, index) in inputForm"
          :key="index"
        >
          <input type="number" v-model="input.field" />
          <input type="checkbox" :value="index" />
        </div>
        <div class="form-actions">
          <button
            type="button"
            v-for="(button, index) in buttons"
            :key="index"
            @click="onAction(button.key)"
          >
            {{ button.icon }}
          </button>
        </div>

        <div v-if="hasil != 0">
          <hr />
          <h4>Hasil : {{ hasil }}</h4>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Calculator",
  data() {
    return {
      inputForm: [
        {
          field: null,
        },
        {
          field: null,
        },
        {
          field: null,
        },
      ],
      hasil: 0,
      buttons: [
        {
          icon: "+",
          key: "tambah",
        },
        {
          icon: "-",
          key: "kurang",
        },
        {
          icon: "x",
          key: "kali",
        },
        {
          icon: "/",
          key: "bagi",
        },
      ],
    };
  },

  methods: {
    onAction(key) {
      let arrCheck = [];
      let checkboxes = document.querySelectorAll(
        "input[type=checkbox]:checked"
      );

      for (var i = 0; i < checkboxes.length; i++) {
        arrCheck.push(checkboxes[i].value);
      }

      if (arrCheck.length < 2) {
        alert("Mohon checklist lebih dari satu field yang telah di isi");
      } else {
        let subTotal = 0;
        switch (key) {
          case "tambah": {
            let total = 0;
            arrCheck.forEach((field) => {
              total = total + parseInt(this.inputForm[field].field);
            });
            subTotal = total;
            break;
          }
          case "kurang": {
            let total = 0;
            arrCheck.forEach((field, index) => {
              if (index == 0) total = parseInt(this.inputForm[field].field);
              else total = total - parseInt(this.inputForm[field].field);
            });
            subTotal = total;
            break;
          }
          case "kali": {
            let total = 0;
            arrCheck.forEach((field, index) => {
              if (index == 0) total = parseInt(this.inputForm[field].field);
              else total = total * parseInt(this.inputForm[field].field);
            });
            subTotal = total;
            break;
          }
          default: {
            let total = 0;
            arrCheck.forEach((field, index) => {
              if (index == 0) total = parseInt(this.inputForm[field].field);
              else total = total / parseInt(this.inputForm[field].field);
            });
            subTotal = total;
          }
        }

        this.hasil = subTotal;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.calculator {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.form-field {
  margin: 10px 0px;
}
.form-field input[type="number"] {
  height: 35px;
  width: 190px;
  margin-right: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
}
.form-actions button {
  margin: 5px;
  width: 50px;
  height: 30px;
}
</style>
